/*CSS Style */
@charset "UTF-8";

body{
    background-image: linear-gradient(90deg, #015be0, #5B6DE5);
}
main{
    background-color: white; width: 1000px; 
    padding: 50px;
    margin: 50px auto;
    border-radius: 40px;
    background-color: white;
    box-shadow: 3px 3px 3px;
}
a{
    text-align: left;
}
h1{
    color: #5B6DE5;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 1px;
} 
h2{
    text-align: left;
    color: #5B6DE5; 
    font-family: 'Times New Roman', Times, serif;
}
p{
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 
li{
    text-align: left;
}
table{
    margin: 0 auto;
    border-collapse: collapse;
    width: 70%;
}
th, td{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
nav{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}
nav a{
    color: black;
    text-decoration: none;

}
img{
    max-width: 100%;
    height: auto;
    display: block;
}